@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Poppins&display=swap'); 
:root {
 --text-shadow: 0 2px 4px rgb(85 85 85 / 36%);
}

.container {
	width: 100% !important;
	padding: 0 0 !important;
	max-width: 100%;
}
 .nav {
	background: rgb(255 255 255 / 0%);
	/* backdrop-filter: blur(20px);*/
	display: flex;
	flex-direction: row;
	justify-content: center;
  padding: 10px 0;
}
 .nav a {
	float: right;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-shadow: var(--text-shadow); 
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.2s;
}
 .nav a:hover {
	color: #c3c3c3;
	text-shadow: 0 2px 4px rgb(0 0 0 / 36%);
}
 .nav .dropdown {
	float: right;
	overflow: hidden;
	transition: 0.2s;
	position: static;
}
 .nav .dropdown .dropbtn {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	margin: 0;
	transition: 0.2s;
	background: transparent;
	text-shadow: var(--text-shadow);
}
 .nav .dropdown .dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.25);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
    border-top: 1px solid white;
}
 .nav .dropdown .dropdown-content a {
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	transition: 0.2s;
    text-shadow: 0 2px 4px rgb(71 9 7 206 / 36%);
}
 .nav .dropdown .dropdown-content a:hover {
	color: #c3c3c3;
  text-shadow: 0 2px 4px rgb(0 0 0 / 36%);
}
 .nav .dropdown:hover .dropbtn {
	color: #c3c3c3;
  text-shadow: 0 2px 4px rgb(0 0 0 / 36%);
}
 .nav .dropdown:hover .dropdown-content {
	display: block;
}
 .c1363 {
	/*background-image: linear-gradient(180deg,#2f6ed3 5%,#5095e4 20%,#5095e4 60%,#2f6ed3 95%);*/
   background: #111;
}
.main {
	display: flex;
 flex-direction: column;
 align-items: center;
 width: 90%;
 margin: 0 5%;
	gap: 30px;
	padding-bottom: 10px;
}
.main .inline-grid {
 display: inline-grid;
}
.main .columns-2 {
 grid-template-columns: 1fr 1fr;
 gap: 5%;
 width: 100%:
}
.main .columns-3 {
 grid-template-columns: 1fr 1fr 1fr;
 gap: 3.3%;
 width: 100%;
}
.main .header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 7%;
}
.main .header .header-title {
	font-size: 40px;
    	font-weight: bold;
	font-family: sans-serif;
    	color: white;
    	text-shadow: var(--text-shadow);
}
.main .header .header-subtitle {
	font-size: 25px;
	font-family: sans-serif;
    	letter-spacing: -0.9px;
    	color: white;
    	text-shadow: var(--text-shadow);
    	line-height: 22px;
}
.main .info {
	text-align: center;
	border-radius: 20px;
	width: 100%;
	height: 100%;
	aspect-ratio: 1/1;
	max-width: 500px;
	max-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 7px;
    	letter-spacing: -0.1px;
    	line-height: 40px;
	padding: 16px 14px;
 font-size: 18px;
 margin-top: 40px;
}
.glassmorphic-box {
     	color: white;
	overflow: hidden;
    	background: rgba(255, 255, 255, 0.25);
    	border: 1px solid rgba(255, 255, 255, 0.18);
	backdrop-filter: blur(20px);
	font-family: sans-serif;
    	text-shadow: var(--text-shadow);
}
.main-text {
 width: 100%;
 height: 100%;
 aspect-ratio: 1.25/1;
 border-radius: 20px;
 text-align: center;
 max-width: 550px;
 max-height: 400px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 16px 30px;
 margin-top: 40px;
 font-size: 18px;
 line-height: 40px;
 text-align: center;
     	text-shadow: var(--text-shadow);
}
.-title {
 font-weight: bold;
 font-size: 20px;
 margin: 10px 0;
 text-align: center;
 text-shadow: var(--text-shadow);
}

.quote-box {
 text-align: left;
 border-left: 4px solid white;
 padding-left: 20px;
}

.quote-text {
 text-shadow: var(--text-shadow);
 font-style: italic;
}

.quote-author {
  text-shadow: var(--text-shadow);
}

.tall-boi {
 line-height: 30px;
}

.imager {
 object-fit: cover;
 max-width: 500px;
 width: 100%;
 height: 100%;
 border-radius: 20px;
 max-height: 600px;
 margin-top: 40px;
}

figcaption {
 color: white;
 text-shadow: var(--text-shadow);
 font-family: sans-serif;
 text-align: center;
}
